<html>
    <head>
        <style>
            body{background-color:burlywood}
        </style>
    </head>
    <body>
        <h1>
          You have requested student name :  <%= name %>
        </h1> 
        <p>
            student ID : <%= id %>
        </p>      
    </body>

</html>